body,
ul {
  font-family: "Lato";
  background-color: #000A63;
  margin: 0px;
  padding: 0px;
}

a {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
}

a:hover {
  background: rgba(0, 0, 0, 0.05);
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
}

#header {
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000A63;
}

#menu {
  display: flex;
  list-style: none;
  gap: 3rem; 
}

#menu a {
  display: block;
  padding: 0.5rem;
}
#menu li a{
    padding: 10px;
    border-radius: 7px;
    font-weight: 600;
}
#menu li a:hover{
    background-color: white;
    color: #000A63;
    transition: all 0.4s;
}

#btn-mobile {
  display: none;
}

.cart-login {
    display: flex;
    align-items: center;
    gap: 15px;
}
ion-icon{
    color: white;
    cursor: pointer;
}
#login {
    border: none;
    border-radius: 7px;
    padding: 7px;
    color: #000A63;
    cursor: pointer;
}
#login:hover{
    background-color: #DEDEDE;
}
#create-an-account {
    border: none;
    border-radius: 7px;
    padding: 7px;
    color: white;
    background-color: #00C208;
    cursor: pointer;
}
#create-an-account:hover{
    background-color: #009906;
}


section.featured-products {
  min-height: 100vh;
  padding: 2rem 0;
}

h2{
  color: #fff;
  font-size: 32px;
  font-weight: 300;
  position: relative;
  margin-bottom: 5rem;
  margin-top: 10rem;
  text-align: center ;
}

h2::after{
  content: "";
  position: absolute;
  width: 200px;
  height: 3px;
  background-color: #fff;
  bottom: -10px;
  left: 0;
  right: 0;
  margin: auto;
}

.carrossel{
  display: flex;
}

.carrossel .card {
  background-color: #fff;
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem ;
  -webkit-box-shadow: 4px 4px 5px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 5px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 5px -5px rgba(0, 0, 0, 0.75);
  width: 100%;
  max-width: 300px;
  display: flex !important;
  flex-direction: column;
  align-items: center;
}

.carrossel .card .like {
  background-image: url(/img/ic-heart.png);
  height: 20px;
  width: 20px;
  margin-bottom: 0.3rem;
  background-size: 20px;
  place-self: flex-end;
  display: flex;
  transition: 0.3s all ease;
  cursor: pointer;
}

.carrossel .card .like:hover {
  background-image: url(/img/ic-heart-red.png);
}

.carrossel .card img.product {
  width: 85%;
}

.carrossel .card h4.title-product {
  font-weight: 300;
  font-size: 20px;
  margin: 0.5rem 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.carrossel .card .rating{
  color: #ffc002;
  font-size: 28px;
}

.carrossel .card .price{
  display: flex;
  gap: 10px;
  margin: 0.5rem 0;
}

.carrossel .card .price h5:first-child{
  color: #d0d2d6;
  text-decoration: line-through;
  font-weight: 400;
}

.carrossel .card .price h5:last-child{
  font-weight: 600;
  color: #747d89;
}

.carrossel .card a.add-cart-home{
  border: 1px solid #000A63;
  border-radius: 30px;
  padding: 0.5rem 1rem;
  margin-bottom: 0.8rem;
  color: #000A63;
  cursor: pointer;
  text-align: center;
  transition: 0.3s all ease;
}

.carrossel .card a.add-cart-home:hover{
  background-color: #000A63;
  color: #fff;
}

button.veja-mais {
  padding: 7px;
}

@media (max-width: 600px) {

  .menu-mobile{
    display: flex;
    flex-direction: row;
    gap: 20px   ;
  }
  #menu {
    display: block;
    position: absolute;
    text-align: center;
    width: 50%;
    top:  65px;
    opacity: 0.9;
    right: 0px;
    background: #000A63;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
    border-radius: 0px 10px;

  }
  #nav.active #menu {
    height: calc(55vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger {
    border-top: 2.4px solid white;
    width: 20px;
    margin-top: 5px;
  }
  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: white;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
  .cart-login{
    display: none;
  }
}
